.intro{
    font-family: Times, Times New Roman, serif;
    font-size: 30px;
    color: white;
    background-color: rgb(22, 22, 22);
    background-image: url("nairobi.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 80%;
    height: fit-content;
    
    
   
    
}
body{
    background-color: rgb(44, 43, 43);
    height: 1240px;
}
.my-name{
    color: rgb(0, 183, 255);;
}
.intro-icons{
    text-align: center;
    justify-content: space-between;
}
.bg{
    color: rgb(0, 183, 255);
}
.my-intro {
    text-align: center;
    padding: 8%;
}


.about{
    color: white;
    background-color: rgb(44, 43, 43);
    height: max-content;
    text-align: center;
    
    
}
.about h1 {
    color: rgb(0, 183, 255);
}
.buttons{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 0.5%;
    margin: 10px;
    border-radius: 5px;
    box-shadow:3px 4px 5px 6px rgb(105, 102, 102);
    justify-content: space-between;
}
.my-image{
    display: flex;
    flex-direction: row;
    margin: 1cm;
}
.Aboutme{
    margin-left: 1cm;
    font-size: 20px;
}
.footer{
    color: white;
    background-color: rgb(24, 23, 23);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    
}
.footer h1{
    color: rgb(0, 183, 255);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #26b0ff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }